<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TestingMode</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Script Dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Some Custom Style -->
    <style>
        body { text-align: center; margin-top: 50px;}
    </style>

</head>
<body>

    <div th:remove="tag">

        <h5>Testing mode - English</h5>

        <div class="container">
            <!--<h2>hier arbeite ich </h2>-->
            <!--<p><span th:text="${amounte}">25</span></p>-->
            <!--blablablubb-->
               <script>
                   #ctx.getVariable("user/test/amountg")
               </script>

            <form  action="/user/e_result" method="get">
                <table class="table table-striped">
                    <tr>
                        <th>
                            English words:
                        </th>
                        <th>
                            Please enter German translation here:
                        </th>
                    </tr>
                    <th:block th:each="entry : ${overview}">
                        <tr>
                            <td>
                                <span th:text="${entry.german_word}"></span>
                            </td>
                            <td>
                                <input type="text" th:id="${entry.engl_trans}" th:name="${entry.engl_trans}" value="x">
                            </td>
                        </tr>
                    </th:block>
                </table>
                <input type="submit" value="Submit!">
            </form>


        </div>

    </div>

</body>
</html>