<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Vocabulary</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Script Dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Some Custom Style -->
    <style>
        body { text-align: center; margin-top: 50px;}

        .table th{
            background-color: lightsalmon;
            font-weight: bold;
            text-align: center;
        }

        li {
            display: inline;
            padding: 0px 10px;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div th:remove="tag">


    <div class="result_message" th:if="${submitted}"> <!-- from Controller: model.addAttribute("submitted", true); -->
        <div class="alert alert-info" th:text="#{voc_update}">
        </div>
    </div>

    <form method="post" th:action="@{addvoc}" th:object="${addvoc}">

        <h5 th:text="#{add}"></h5>

        <div class="form-group">
            <label for="german">
                <span th:text="#{german}"></span>: <input type="text" class="form-control" placeholder="" id="german" th:field="*{german_word}"/>
            </label>
        </div>

        <div class="form-group">
            <label for="english">
                <span th:text="#{english}"></span>: <input type="text" class="form-control" placeholder="" id="english" th:field="*{engl_trans}"/>
            </label>
        </div>

        <button class="btn btn-primary" type="submit" th:text="#{submit}"></button>
        <p><a href="/user"><span th:text="#{back}"></span></a></p>
    </form>
    <p>NOTE: Don't extend words more then 50 characters - otherwise an error will be returned</p>
</div>
</body>
</html>