<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Vocabulary Entry</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Script Dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Some Custom Style -->
    <style>
        body { text-align: center; margin-top: 50px;}

        .table th{
            background-color: lightsalmon;
            font-weight: bold;
            text-align: center;
        }

        li {
            display: inline;
            padding: 0px 10px;
            text-decoration: none;
        }
    </style>

</head>
<body>

<div class="container">

    <div class="result_message" th:if="${submitted}"> <!-- from Controller: model.addAttribute("submitted", true); -->
        <div class="alert alert-info" th:text="#{voc_update}">
        </div>
    </div>

    <form method="post" th:action="@{/user/editvoc/edit/{ID}  (ID=${editvoc.id})}" th:object="${editvoc}">

        <span th:text="*{id}"></span>

        <label for="edit_germ_entry">
            <span th:text="#{edit_ger}" ></span>:
            <input type="text" class="form-control" placeholder="" id="edit_germ_entry" th:field="*{german_word}"/>
        </label>

        <label for="edit_engl_entry">
            <span th:text="#{edit_en}" ></span>:
            <input type="text" class="form-control" placeholder="" id="edit_engl_entry" th:field="*{engl_trans}"/>
        </label>

        <input type="submit" class="btn btn-primary" value="Submit"/>

    </form>

    <div class="back" th:if="${submitted}"> <!-- from Controller: model.addAttribute("submitted", true); -->
        <a href="/user"><span th:text="#{back}"></span></a>
    </div>

    <div class="discard" th:if="${!submitted}">
        <a href="/user"><span th:text="#{discard}"></span></a>
    </div>

</div>
<p>NOTE: Don't extend words more then 50 characters - otherwise an error will be returned</p>

</body>
</html>