<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Script Dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Some Custom Style -->
    <style>
        body { text-align: center; margin-top: 50px;}
    </style>

</head>
<body>
<div th:remove="tag">

    <h1 style="display: inline">Welcome </h1><h1 style="display: inline" th:text="${current_user}"></h1> <br>
    <br>
    <h2>Overview of your Vocabularies</h2>
    <br>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <td style="background-color: lightsalmon"><b>German Vocabulary</b></td>
                <td style="background-color: lightsalmon"><b>English Translation</b></td>
            </tr>

            <!-- Iterate through all entries using th:each -->
            <th:block th:each="entry : ${overview}">
            <tr>
                    <td><span th:text="${entry.german_word}"></span></td>
                    <td><span th:text="${entry.engl_trans}"></span></td>
            </tr>
            </th:block>
        </table>
    </div>

    <h3>Add Vocabulary</h3>
    <a href="/user/addvoc">Add vocabulary</a>

    <p><a href="/logout">Logout</a></p>

</div>
</body>
</html>