<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Script Dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- Some Custom Style -->
    <style>
        body { text-align: center; margin-top: 50px;}
    </style>

</head>
<body>
<div th:remove="tag">

    <!-- Align Heading Welcome Message -->
    <h1 style="display: inline">Choose the displayed language!</h1>
    <h2> </h2>
    <a class="btn btn-primary" href="/user/studyInterfaceGerman" th:href="@{/user/studyInterfaceGerman}">German</a>
    <a class="btn btn-primary" href="/user/studyInterfaceEnglish" th:href="@{/user/studyInterfaceEnglish}">English</a>

</div>
</body>
</html>